<template>
  <div id="cart">
    <table>
      <CartItem
        v-for="cartItem in cartItems"
        :cartItem="cartItem"
        :key="cartItem.productId"
      />
    </table>
    <div id="total">
      <h1>Total</h1>
      <p> {{ `€ ${totalPrice.toFixed(2)}` }} </p>
    </div>
  </div>
</template>

<script>
  import CartItem from "./CartItem.vue";

  export default {
    name: "Cart",
    computed: {
      cartItems() {
        return this.$store.getters.cartItems;
      },
      totalPrice() {
        return this.cartItems.reduce((total, cartItem) => {
          const product = this.getProductById(cartItem.productId);
          return total + product.price * cartItem.qty;
        }, 0);
      }
    },
    methods: {
      getProductById(id) {
        return this.$store.getters.getProductById(id);
      }
    },
    components: {
      CartItem
    }
  }
</script>

<style scoped>
  #cart {
    flex: 0 0 300px;
    padding: 20px;
  }
  #total {
    font-size: 1.5em;
    display: flex;
    margin-top: 0.5em;
    padding-top: 0.5em;
    border-top: 2px solid gray;
  }
  #total > h1 {
    font-weight: bold;
  }
  #total > p {
    width: 100%;
    text-align: right;
  }

  @media (min-width: 860px) {
    #cart {
      font-size: 2em;
      min-width: 800px;
    }
  }
</style>
