<template>
  <tr class="cart-item">
    <td class="cart-item__name"> {{ `${product.name}` }} </td>
    <td class="cart-item__qty">
      <Counter
        :value="cartItem.qty"
        @change="onCartQtyChange"
      />
    </td>
    <td class="cart-item__price"> {{ `€ ${(product.price * cartItem.qty).toFixed(2)}` }} </td>
  </tr>
</template>

<script>
  import Counter from "./Counter.vue";

  export default {
    name: "CartItem",
    props: {
      cartItem: Object
    },
    computed: {
      product() {
        return this.$store.getters.getProductById(this.cartItem.productId);
      }
    },
    methods: {
      onCartQtyChange(qty) {
        this.$store.dispatch("setProductIdCartQty", {
          productId: this.cartItem.productId,
          qty
        });
      }
    },
    components: {
      Counter
    }
  };
</script>

<style scoped>
  .cart-item {
    width: 100%;
    padding: 10px 0 10px 0;
    justify-content: center;
    height: 1.5em;
    font-size: 1em;
  }
  .cart-item > td {
    vertical-align: middle;
  }
  .cart-item__qty {
    color: #3a5;
    font-size: 1.2em;
  }
  .cart-item__name {
    width: 100%;
  }
  .cart-item__price {
    min-width: 5em;
    font-size: 1.2em;
    text-align: right;
  }
</style>
