<template>
  <div class="counter">
    <button class="counter__btn counter__btn-minus"
        @click="onMinusPressed" />
    <p class="counter__value">{{ value }}</p>
    <button class="counter__btn counter__btn-plus"
        @click="onPlusPressed" />
  </div>
</template>

<script>
  export default {
    name: "Counter",
    props: {
      value: {
        type: Number,
        required: true
      },
      min: {
        type: Number,
        default: Number.MIN_SAFE_INTEGER
      },
      max: {
        type: Number,
        default: Number.MAX_SAFE_INTEGER
      }
    },
    methods: {
      onMinusPressed: function() {
        if (this.value > this.min)
          this.onChange(this.value - 1);
      },
      onPlusPressed: function() {
        if (this.value < this.max)
          this.onChange(this.value + 1);
      },
      onChange: function(newValue) {
        this.$emit("change", newValue);
      }
    }
  }
</script>

<style scoped>
  .counter {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 1em;
    vertical-align: middle;
  }
  .counter__value {
    padding-left: 0.3em;
    padding-right: 0.3em;
  }
  .counter__btn {
    border: 0.1em solid #3c3;
    border-radius: 50%;
    display: inline-block;
    width: 1em;
    height: 1em;
  }
  .counter__btn:hover {
    filter: brightness(120%);
  }
  .counter__btn:active {
    filter: brightness(80%);
  }
  .counter__btn-minus {
    background:
      linear-gradient(#3c3,#3c3);
    background-position: center;
    background-size: 50% 10%;
    background-repeat: no-repeat;
  }
  .counter__btn-plus {
    background:
      linear-gradient(#3c3,#3c3),
      linear-gradient(#3c3,#3c3);
    background-position: center;
    background-size: 50% 0.1em, 0.1em 50%;
    background-repeat: no-repeat;
  }
</style>
