<template>
  <div v-if="isOpen" class="mask" @click.self="close()">
    <div class="modal box">
      <hgroup :class="title ? 'modal__header' : ''">
        <h1 v-if="title" class="modal__title"> {{ title }} </h1>
        <button class="modal__close-btn" @click="close()">X</button>
      </hgroup>
      <slot />
    </div>
  </div>
</template>

<script>
  export default {
    name: "Modal",
    props: {
      isOpen: {
        type: Boolean,
        required: true
      },
      title: String
    },
    watch: {
      isOpen: function(newValue) {
        if (newValue === true)
          document.body.style.position = "fixed";
        else
          document.body.style.position = '';
      }
    },
    methods: {
      close: function() {
        this.$emit("close");
      }
    }
  }
</script>

<style scoped>
  .mask {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .modal {
    position: relative;
    overflow: auto;
    max-height: 100%;
  }
  .modal__header {
    display: flex;
    align-items: center;
    height: calc(42px + 15px * 2);
    border-bottom: 2px solid gray;
  }
  .modal__title {
    font-size: 1.8em;
    font-weight: bold;
    margin-left: 20px;
  }
  .modal__close-btn {
    font-size: 32px;
    line-height: 42px;
    width: 42px;
    border-radius: 21px;
    text-align: center;
    vertical-align: middle;
    font-family: sans-serif;
    position: absolute;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    background-color: #c83b18;
    color: white;
    top: 15px;
    right: 15px;
  }
  .modal__close-btn:hover,
  .modal__close-btn:active {
    background-color: #e85b38;
    color: white;
    box-shadow: none;
  }

  @media (min-width: 860px) {
    .mask {
      background-color: rgba(0, 0, 0, 0.85);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .modal {
      min-width: 100px;
      min-height: 100px;
    }
  }

  @media (max-width: 859px) {
    .modal {
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 0;
    }
  }
</style>
