<template>
    <ul>
      <ProductListElem v-for="product in products" :key="product.id" :product="product" />
    </ul>
</template>

<script>
  import ProductListElem from "./ProductListElem.vue";

  export default {
    name: "ProductList",
    props: {
      products: {
        type: Array
      }
    },
    components: {
      ProductListElem
    }
  }
</script>

<style scoped>
  ul {
    display: flex;
    flex: 1;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
  }
</style>
