<template>
    <li class="container">
      <button @click="openProductView()" class="product-card box">
        <ProductInfo :productId="product.id" />
        <div v-if="cartQty > 0" class="product-card__qty">{{ cartQty }}</div>
      </button>
    </li>
</template>

<script>
  import ProductInfo from "./ProductInfo.vue";

  export default {
    name: "ProductListElem",
    props: {
      product: {
        type: Object
      }
    },
    computed: {
      cartQty: function() {
        return this.$store.getters.getProductIdCartQty(this.product.id);
      }
    },
    methods: {
      openProductView() {
        this.$store.dispatch("openProductViewId", this.product.id);
      }
    },
    components: {
      ProductInfo
    }
  };
</script>

<style scoped>
  .container {
    width: 100%;
  }
  .product-card {
    position: relative;
    font-size: 1em;
    width: 100%;
    height: 150px;
    display: flex;
    text-align: left;
  }
  .product-card__qty {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #3c3;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
  }

  @media (max-width: 859px) {
    .product-card {
      border-radius: 0;
      border-width: 1px 0 1px 0;
    }
  }

  @media (min-width: 860px) {
    .container {
      padding: 10px;
      width: auto;
      display: flex;
      justify-content: center;
    }
    .product-card {
      font-size: 1em;
      width: 400px;
    }
    >>> .product-info__img {
      border-radius: 0 5px 5px 0;
    }
  }

  >>> .product-info {
      width: 100%;
      height: 100%;
      position: relative;
  }
  >>> .product-info__img {
    height: 100%;
    width: 150px;
    float: right;
    object-fit: cover;
  }
  >>> .product-info__text {
    padding: 20px;
  }
  >>> .product-info__name {
    margin-bottom: 5px;
  }
  >>> .product-info__description {
    position: relative;
    text-overflow: ellipsis;
    font-size: 1em;
    line-height: 1.2em;
    height: calc(1.2em * 2);
    overflow: hidden;
  }
  >>> .product-info__description::after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 1.2em;
    background: linear-gradient(to left, white 50%, transparent);
  }
  >>> .product-info__price {
    position: absolute;
    bottom: 20px;
  }
</style>
