<template>
  <div class="container">
    <ProductInfo :productId="productId" />
    <Counter :value="counterValue" :min="1" @change="onCounterChange" />
    <button class="btn-add-to-cart" @click="addProductToCart">
      Ajouter ( {{ productPrice * counterValue }} € )
    </button>
  </div>
</template>

<script>
  import ProductInfo from "./ProductInfo.vue";
  import Counter from "./Counter.vue";

  export default {
    name: "ProductView",
    props: {
      productId: String
    },
    data: function() {
      return {
        counterValue: 1
      };
    },
    computed: {
      productPrice() {
        const product = this.$store.getters.getProductById(this.productId);
        return product.price;
      }
    },
    methods: {
      addProductToCart: function() {
        this.$store.dispatch("addProductIdToCart", {
          productId: this.productId,
          qty: this.counterValue
        });
        this.$store.dispatch("closeProductView");
      },
      onCounterChange: function(value) {
        this.counterValue = value;
      }
    },
    components: {
      ProductInfo,
      Counter
    }
  }
</script>

<style scoped>
  .container {
    font-size: 1.8em;
    padding-bottom: 3em;
  }
  .btn-add-to-cart {
    position: fixed;
    bottom: 0;
    background-color: #3c3;
    border-top: 3px solid #7e7;
    width: 100%;
    font-weight: bold;
    color: white;
    height: 3em;
  }
  .btn-add-to-cart:hover {
    filter: brightness(110%);
  }
  .btn-add-to-cart:active {
    filter: brightness(80%);
  }
  >>> .product-info__img {
    width: 100%;
    max-height: 500px;
    max-width: 860px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
  }
  >>> .product-info__text {
    font-size: 1em;
    text-align: center;
    padding: 1em;
  }
  >>> .product-info__name {
    display: none;
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  >>> .product-info__price {
    display: none;
  }
  >>> .counter {
    padding: 1em;
    font-size: 1.5em;
  }

  @media (min-width: 860px) {
    .btn-add-to-cart {
      position: absolute;
    }
    .product-info {
      width: 500px;
    }
  }
</style>
