<template>
  <nav class="category-nav">
    <button
        v-for="category in productCategories" :key="category.id"
        :class="{ active: selectedCategoryId === category.id }"
        class="category-nav__item"
        @click="() => onCategoryClicked(category.id)">
      {{ category.name }}
    </button>
  </nav>
</template>

<script>
  export default {
    name: "ProductCategory",
    computed: {
      productCategories() {
        return this.$store.getters.productCategories;
      },
      selectedCategoryId() {
        return this.$store.getters.selectedCategoryId;
      }
    },
    methods: {
      onCategoryClicked(categoryId) {
        this.$store.dispatch("selectCategoryId", categoryId);
      }
    }
  };
</script>

<style scoped>
  .category-nav {
    width: 100%;
    height: 3em;
    display: flex;
    align-items: center;
    background-color: #333;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .category-nav__item {
    height: 100%;
    box-sizing: border-box;
    color: white;
    margin: 0px 5px 0px 5px;
    border-bottom: 3px solid transparent;
    padding: 5px 15px 5px 15px;
  }

  .category-nav__item:hover {
    background-color: #444;
  }
  .category-nav__item.active {
    border-bottom: 3px solid white;
    background-color: #444;
  }
</style>
