<template>
  <article class="product-info">
    <img v-if="product.img" class="product-info__img" :src="require(`@/assets/img/${product.img}`)" />
    <div v-else class="product-info__no-img"></div>
    <div class="product-info__text">
      <h1 class="product-info__name">{{ product.name }}</h1>
      <p class="product-info__description">{{ product.description }}</p>
      <p class="product-info__price">{{ product.price }} €</p>
    </div>
  </article>
</template>

<script>
  export default {
    name: "ProductInfo",
    props: {
      productId: {
        type: String,
        required: true
      }
    },
    computed: {
      product: function() {
        return this.$store.getters.getProductById(this.productId);
      }
    }
  };
</script>

<style scoped>
  .product-info__name {
    font-size: 1.2em;
    font-weight: bold;
  }
  .product-info__description {
    color: #333;
  }
  .product-info__img {
    object-fit: contain;
  }
  .product-info__price {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
  }
</style>
