<template>
  <header id="site-header">
    <div id="site-header__headbar">
      <h1 id="site-header__title">Bar à Crêpes</h1>
      <button id="site-header__cart-btn" @click="openCart">
        <img id="site-header__cart-btn__img" :src="require('@/assets/img/cart.svg')" />
      </button>
    </div>
    <ProductCategoryNav />
  </header>
</template>

<script>
  import ProductCategoryNav from "./ProductCategoryNav.vue";

  export default {
    name: "SiteHeader",
    methods: {
      openCart: function() {
        this.$store.dispatch("openCart");
      }
    },
    components: {
      ProductCategoryNav
    }
  }
</script>

<style scoped>
  #site-header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    margin-bottom: 10px;
  }
  #site-header__cart-btn {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
  #site-header__cart-btn__img {
    width: 100%;
  }
  #site-header__headbar {
    height: 4em;
    display: flex;
    align-items: center;
    background-color: black;
  }
  #site-header__title {
    color: #fff;
    font-size: 1.5em;
    margin-left: 20px;
  }

  @media (min-width: 860px) {
    #site-header__headbar {
      height: 5em;
    }
    #site-header__title {
      font-size: 2em;
    }
  }
</style>

<style>
  body { margin-top: calc(4em + 3em); }

  @media (min-width: 860px) {
    body { margin-top: calc(5em + 3em); }
  }
</style>
