<template>
  <div id="app">
    <SiteHeader />
    <main>
      <ProductList :products="productsOfSelectedCategory" />
    </main>
    <Modal class="product-view"
      :isOpen="$store.getters.isProductViewOpen"
      :title="viewedProductName"
      @close="onProductViewClose">
      <ProductView :productId="viewedProductId" />
    </Modal>
    <Modal
      :isOpen="$store.getters.isCartOpen"
      title="Panier"
      @close="onCartClose">
      <Cart />
    </Modal>
  </div>
</template>

<script>
  import SiteHeader from "./components/SiteHeader.vue";
  import ProductList from "./components/ProductList.vue";
  import Modal from "./components/Modal.vue";
  import ProductView from "./components/ProductView.vue";
  import Cart from "./components/Cart.vue";

  export default {
    name: 'App',
    computed: {
      viewedProductId: function() {
        return this.$store.getters.openedProductId;
      },
      viewedProductName: function() {
        const product = this.$store.getters.getProductById(this.viewedProductId);
        return product ? product.name : "";
      },
      productsOfSelectedCategory() {
        return this.$store.getters.productsOfSelectedCategory;
      }
    },
    methods: {
      onProductViewClose: function() {
        this.$store.dispatch("closeProductView");
      },
      onCartClose: function() {
        this.$store.dispatch("closeCart");
      }
    },
    components: {
      SiteHeader,
      ProductList,
      Modal,
      ProductView,
      Cart
    }
  }
</script>

<style>
  html {
    background-color: #f4f4f4;
    font-family: sans-serif;
  }
  body {
    width: 100%;
    height: 100vh;
  }
  main {
    display: flex;
  }
  #app main {
    height: 100%;
  }
  .box {
    background-color: #fff;
    border: 2px solid #e6e6e6;
    border-width: 1px 1.5px 3px 1.5px;
    border-radius: 5px;
  }
  button:focus {
    outline: none;
  }
</style>
